
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    
}
#container{
    border: 1px solid black;
    width: 300px;
    margin-top: 20px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
   align-items: center;
    

}
body{
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}